on:
  workflow_dispatch:
  push:
    paths:
      - 'gb-cart-arduino-v2/**'

jobs:
    build-gerbers:
        runs-on: kicad/kicad:9.0
        name: Generate Gerber Files
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4
    
        - name: Generate Gerber files
          run: |
            cd gb-cart-arduino-v2
            mkdir -p output/gerbers
            kicad-cli pcb export gerbers gb-cart-arduino-v2.kicad_pcb --output output/gerbers
            kicad-cli pcb export drill gb-cart-arduino-v2.kicad_pcb --output output/gerbers
    
        - name: Upload Gerber files
          uses: actions/upload-artifact@v4
          with:
            name: gerber-files
            path: |
                gb-cart-arduino-v2/output/gerbers/*.gbr 
                gb-cart-arduino-v2/output/gerbers/*.drl